/* Star, Blue */
input[type=checkbox][data-task="*"] {
	background-color: rgb(0, 116, 206);
	border-color: rgb(0, 116, 206);
}
input[type=checkbox][data-task="*"]:after {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m0.63,5.5881l4.86628,0l1.50372,-4.56906l1.50372,4.56906l4.86628,0l-3.93689,2.8238l1.5038,4.56906l-3.9369,-2.82388l-3.9369,2.82388l1.5038,-4.56906l-3.9369,-2.8238z'/%3E%3C/svg%3E"); /* * */
}
 /* Arrow, Green */
input[type=checkbox][data-task=">"]:checked {
  background-color: rgb(85, 163, 98);
  border-color: rgb(85, 163, 98);
}
input[type=checkbox][data-task=">"]:after {
  background-color: white;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.12 7L3.26667 11.76L4.57333 13.0667L10.7333 7L4.57333 0.933332L3.26667 2.24L8.12 7Z'/%3E%3C/svg%3E"); /* > */
}
/* Question, Orange */
input[type=checkbox][data-task="?"] {
	background-color: #ff9a00;
	border-color: #ff9a00;
}
input[type=checkbox][data-task="?"]:after {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m3.28723,5.20262c0.30487,0.07622 1.79012,0.08664 1.75569,0.05223c0.56797,-2.04892 1.73508,-1.94051 2.25959,-2.00031c1.59824,-0.04459 1.66343,1.71942 1.629,1.68502c0.07022,0.57977 0.16586,1.0071 -1.23749,2.04419c-0.60221,0.49971 -1.53469,0.66915 -1.7558,2.8711l1.70499,-0.03001c0.23769,-0.54995 -0.12543,-1.17657 1.41534,-1.97318c1.96531,-1.33754 1.87362,-2.61037 1.81379,-3.22913c0.18687,-2.83652 -3.15951,-3.19299 -3.72748,-3.15117c-3.0013,0.06401 -3.64139,2.19589 -3.85763,3.73126z'/%3E%3Cpath d='m5.75985,10.73441l0.04885,1.99378l1.97259,-0.07427l-0.02799,-1.89542l-1.99344,-0.02408z'/%3E%3C/svg%3E"); /* ? */
}
/* Exclaim, Red */
input[type=checkbox][data-task="!"] {
  background-color: #940000;
  border-color: #940000; 
}
input[type=checkbox][data-task="!"]:after {
  background-color: white;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewbox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='4' y='2.5' width='1.5' height='6'/%3E%3Cellipse cx='4.75' cy='11.5' ry='1' rx='1'/%3E%3C/svg%3E"); /* ! */
}
/* Dash, Gray */  
input[type=checkbox][data-task="-"] {
  background-color: var(--text-faint);
  border-color: var(--text-faint); 
}
input[type=checkbox][data-task="-"]:after {
  background-color: white;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 14' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='0.5' y='6.5' width='13' height='1'/%3E%3C/svg%3E"); /* - */
}
.HyperMD-list-line:has(input[type=checkbox][data-task="-"]) {
	font-style: italic;
	color: var(--text-faint);
}
